$color-primary:         aliceblue;
$color-secondary:       lightyellow;
$color-tertiary:        #ff7f50;
$color-link:            orangered;
$color-theme:           #ff7f50;
$color-card-bg:         #ffeee8;
$color-card-fg:         #444;
$color-bullet:          #b99081;
